@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@font-face {
    font-family: 'LCD Normal';
    font-style: normal;
    font-weight: normal;
    src: local('LCD Normal'), url('LCD-N___.woff') format('woff');
}

* {
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 32px;
    margin: 0;
}

body {
    background-image: url(bg.jpg);
    background-size: 100vw 100vh;
}

header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 20vh;
    text-align: center;
    z-index: -1;
}

h1 {
    color: #ffffff;
    background-image: -webkit-linear-gradient(270deg, #00c8ff,#0091c4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'LCD Normal';
    font-size: 96px;
    margin-top: 2vh;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-width: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, #4f4f4f, #404040, #323232, #252525, #181818);
    color: white;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease;
}

button:active {
   transform: scale(0.95);
   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

input {
    font-family: 'LCD Normal';
    font-size: 32px;
    width: 98.2%;
    padding: 21px 0;
    text-align: right;
    background-image: linear-gradient(to bottom, #72cb52, #6cbb4b, #65ac45, #5e9d3f, #578e39);
    border-radius: 3px;
    border-width: 0px;
    padding-right: 5px;
}

.container {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 160px) repeat(3, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: stretch;
    align-items: stretch;
    background-image: linear-gradient(to bottom, #4f4f4f, #404040, #323232, #252525, #181818);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #b4d0db50;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    grid-area: 1 / 5 / 2 / 6;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 2 / 3 / 3 / 5;
}

.div6 {
    grid-area: 2 / 5 / 3 / 6;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 5;
}

.div10 {
    grid-area: 3 / 5 / 4 / 6;
}

.div11 {
    grid-area: 4 / 1 / 5 / 2;
}

.div12 {
    grid-area: 4 / 2 / 5 / 3;
}

.div13 {
    grid-area: 4 / 3 / 5 / 5;
}

.div14 {
    grid-area: 4 / 5 / 5 / 6;
}

.div15 {
    grid-area: 5 / 1 / 6 / 2;
}

.div16 {
    grid-area: 5 / 2 / 6 / 3;
}

.div17 {
    grid-area: 5 / 3 / 6 / 5;
}

.div18 {
    grid-area: 5 / 5 / 6 / 6;
}

.div19 {
    grid-area: 1 / 3 / 2 / 4;
}

.div20 {
    grid-area: 1 / 4 / 2 / 5;
}

.pink {
    background-image: linear-gradient(to bottom, #00c8ff, #00baf0, #01ace2, #019ed3, #0091c4);
}

.grey{
    background-image: linear-gradient(to bottom, #9f9f9f, #949494, #898989, #7f7f7f, #747474);
}

#mod{
    font-size: 24px;
}

#egal{
    background-image: linear-gradient(to bottom, #ff9b00, #f08f00, #e18400, #d37900, #c46e00);
}

#clear{
    background-image: linear-gradient(to bottom, #ff0000, #f00000, #e10000, #d20000, #c40000);
}